<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TM_Install_Path" value="D:\Games\Epic Games\TrackmaniaNext" />
    <add key="TM_User_Path" value="C:\Users\bmx22\Documents\Trackmania2020" />
    <add key="Converter_Exe_Path" value="" />
    <add key="LastExeModifiedDate" value="" />
  </appSettings>
</configuration>
